<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid flex-lg-column">
        <a class="navbar-brand" href="#about-me"><strong>{{ site.data.profile.profile.name }}</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-light" data-bs-theme="dark"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#about-me"><strong>About Me</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#education"><strong>Education</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work"><strong>Work Experience</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#certificate"><strong>Certificate</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/phat-diep/"><strong>LinkedIn</strong></a>
                    </li>
                </ul>
                <div class="d-none d-lg-block form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="darkModeSwitch" checked>
                    <label class="form-check-label" for="darkModeSwitch">
                        <i class="bi bi-moon-fill nav-link"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
</nav>
