@media (max-width: 768px) {
    .h3 {
    font-size: 0.975rem;
    }
    .navbar {
    /* --bs-navbar-brand-padding-y: 40px; */
    --bs-navbar-brand-font-size: 0.975rem;
    line-height: 3rem;
    }
    .nav-link {
    --bs-nav-link-font-size: 0.975rem;
    }
    .main {
    flex-direction: column;
    font-size: 0.9rem;
    text-align: justify;
    }
    .about-me {
    flex-direction: column;
    flex-wrap: wrap;
    /* Allow items to wrap onto multiple lines */
    justify-content: center;
    }
    ul {
    padding-inline-start: 13px;
    }
    .body__heading-text {
    padding: 0px;
    }
    
    .img-fluid {
    max-width: 100%;
    max-height: none;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
    }
    .working{
    /* display:table; */
    flex-wrap: wrap;
    } 
}
@media (min-width: 992px) {
    .nav-link {
    color: white !important;
    }
}